{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Boards</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}" />
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Boards</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              django
              <small class="text-muted d-block">django discustion Board</small>
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td></td>
          </tr>
          <tr>
            <td>
              python
              <small class="text-muted d-block"
                >General discustion about python</small
              >
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
